@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body,html{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #e4f4f3;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: #00b6bc;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fff;
  color: #00b6bc;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #a1dbf1;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #a1dbf1;
  border-radius: 5px;
}

/*registration*/
.reg-container{
  position: absolute;
  width: 330px;
  color: #fff;
  text-align: center;
  background: #00b6bc;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  padding: 50px 35px 10px 35px;
}
.reg-container header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.reg-container .form-outer{
  width: 100%;
  overflow: hidden;
}
.reg-container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin: 45px 0;
/*  display: flex;*/
  position: relative;
}
.btns{
   display: flex;
}
.form-outer .field{
  position: relative;
}
.form-outer .field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.form-outer .field label {
  position: absolute;
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
  pointer-events: none;
  transition: .5s; 
}
.label{
  position: absolute;
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}
/*.form-outer .field input:focus ~ label,
.form-outer .field input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}*/
/*form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}*/
.reg-form .page .field select{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
}
.reg-form .page .field select option{
  background: #a1dbf1;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.reg-form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  margin-top: -20px;
/*  border-radius: 5px;*/
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.reg-form .page .field button:hover{
  background: #fff;
  color: #272727;
  border-radius: 5px;
}
.reg-form .page .btns button{
  margin-top: -20px!important;
}
.reg-form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
.reg-form .page .btns button.next{
  margin-left: 3px;
}
.reg-container .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.reg-container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.reg-container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #e4f4f3;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #71d5e4;
  background: #71d5e4;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #e4f4f3;
}
.progress-bar .step .bullet.active:after{
  background: #71d5e4;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #71d5e4;
  transition: 0.2s linear;
}
.progress-bar .step .prog{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .prog .active{
  display: block;
  color: #71d5e4;
}