/* Medicine 2 */
.medicine2 {
    box-sizing: border-box;
    position: absolute;
    width: 1910px;
    height: 1070px;
    left: 5px;
    top: 5px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

/* Medicine1 */
.medicine1 {
    box-sizing: border-box;
    position: absolute;
    width: 1892px;
    height: 155px;
    left: 14px;
    top: 14px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

/* Medicine 6 */
.medicine6 {
    box-sizing: border-box;
    position: absolute;
    width: 1892px;
    height: 724px;
    left: 14px;
    top: 178px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

/* Medicine 7 */
.medicine7 {
    box-sizing: border-box;
    position: absolute;
    width: 1872px;
    height: 629px;
    left: 24px;
    top: 260px;
    background: #00B6BC;
    border: 2px solid #000000;
}

/* Medicine 5 */
.medicine5 {
    box-sizing: border-box;
    position: absolute;
    width: 1892px;
    height: 155px;
    left: 14px;
    top: 911px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

/* Medicine 3 */
.medicine3 {
    position: absolute;
    width: 549px;
    height: 121px;
    left: 24px;
    top: 31px;
    background: #00B6BC;
}

/* Medicine 4 */
.medicine4 {
    position: absolute;
    width: 873px;
    height: 121px;
    left: 1023px;
    top: 31px;
    background: #00B6BC;
}

/* Header */
.header {
    position: absolute;
    width: 122px;
    height: 42px;
    left: 737px;
    top: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #00B6BC;
}

/* Footer */
.footer {
    position: absolute;
    width: 1000px;
    height: 42px;
    left: 750px;
    top: 968px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #00B6BC;
}

/* Main */
.main {
    position: absolute;
    width: 80px;
    height: 42px;
    left: 920px;
    top: 193px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #00B6BC;
}

/* Content */
.content {
     position: relative;
	margin-top: 280px;
    width: 1900px;
    height: 42px;
	align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
	left: 50px;
}

h2 {
    color: #333;
}

.patient-info, .medications, .instructions {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Hospital Name / Logo */
.hospital {
    position: absolute;
    width: 409px;
    height: 48px;
    left: 97px;
    top: 67px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

/* Navigation Bar */
.navbar ul li {
    position: relative;
    left: 1030px;
    top: -270px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
	list-style: none;
    line-height: 48px;
    color: #FFFFFF;
	letter-spacing: 3px;
	cursor: pointer;
	 display: inline;
    margin-top: 5px;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
